{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <title>Sobre mim</title>
 
  </head>
  <body>
    <br>
    

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'imgs/me.jpg' %}">
                    <hr>
                    <h3>Olá, me chamo Hiago</h3>
                    <p> Amo programar, ensinar e ler livros </p>
                </div>
            </div>
    
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>Sobre mim</h4>
                    <p>Tenho 18 anos, apaixonado pela área de TI, 
                    procuro uma oportunidade para iniciar minha carreira como desenvolvedor front-end jr. 
                    Atualmente curso Análise e Desenvolvimento de Sistemas na Fatec de Ribeirão Preto e sou professor de lógica de programação para crianças do ensino fundamental.</p>
                    <p>Durante meu trabalho na escola tenho aprendido muito a ser mais responsavel. Além disso, descobri como me espressar melhor, a fim de ser mais didático com meus alunos </p>
                    <ul class="social-media-icons">
                        <li><img class="social" src="{% static 'imgs/face.png' %}"></li>
                        <li><img class="social" src="{% static 'imgs/insta.png' %}"></li>
                        <li><img class="social" src="{% static 'imgs/linke.png' %}"></li>
                    </ul>
                </div>
            </div>
       
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>Minha experiencia como desenvolvedor</h5>
                    <hr>
                    <p>Aprendi a programar na escola com a linguagem JAVA, onde desenvolvi alguns projetos como por exemplo: um quiz de depressão utilizando SWING e banco de dados MySql.
                        Agora tenho como foco aprender mais de front e back end, me especializando na linguagem python com Django, um framework que estou amando aprender.
                    </p>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>O que eu sei</h5>
                    <ul>

                        <p> Python, JavaScript, CSS3, HTML5, SQL</p>
                        <p> Git e Github</p>
                        <p>  Web frameworks: Django</p>
                        <p>  Design</p>
                        <p>Solução de problemas lógicos e técnicos</p>
                        <p> Comunicação</p>
                       
                    </ul>
                </div>
            </div>


        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>Minhas metas como desenvolvedor</h5>
                    <hr>
                    <p>Ter uma otima comunicação e aprender inglês avançado</p>
                    <p>Descobrir como uma grande empresa de software funciona por dentro</p>
                    <p>Participar de um time com pessoas experiêntes e aprender muito com elas</p>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>Hobbies</h5>
                    <hr>
                    <p>Games</p>
                    <p>Coding</p>
                    <p>Leitura</p>
                    <p>Puzzles</p>
                </div>
            </div>


        </div>

    </div>

 
    
  </body>
</html>






